body {
    background: #4b676c;
    color: #50a6b5;
    font-family: sans-serif;
}

a {
    color: lightblue;
}

.footer {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

li {
    margin:0.4rem 0
}

p
{
    line-height: 24px;
    font-size: 16px;
    filter: brightness(90%);
}

a.footer-link:link {
    color: #f5deb370;
}

a.footer-link:visited {
    color: #f5deb370;
}

a.footer-link {
    color: #f5deb370;
}

.article-note {
    color: #f5deb370;
}

.container {
    width: 620px;
    margin: auto;
}

li {
    color: wheat
}
